{% extends 'back/_base.html' %}
{% load static i18n %}
{% block mainbread %}
    <ul class="nav navbar-nav bookmark-icons">
        <div class="d-flex main-bread">
            <h5 class="content-header-title float-left pr-1 mb-0">{% trans 'Vazirlik' %}</h5>
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb p-0 mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index-admin' %}"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'about:staff-list' %}">{% trans 'Xodimlar' %}</a>
                    </li>
                    <li class="breadcrumb-item active">{% trans 'Xodimni tahrirlash' %}
                    </li>
                </ol>
            </div>
        </div>
    </ul>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/vue-ctk-date-time-picker.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/vue2-editor.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/monokai-sublime.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/css/quill.snow.css' %}"/>
    <link rel="stylesheet" href="{% static 'back/app-assets/css/quill.imageUploader.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'back/app-assets/css/main-editor.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'back/app-assets/vendors/css/ui/prism.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/vendors/css/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/css/plugins/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/filepond.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/filepond-plugin-image-preview.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/vendors/css/forms/select/select2.min.css' %}">
{% endblock %}

{% block body %}
    {% include 'back/parts/menu.html' %}
    <!-- BEGIN: Content-->
    <div class="app-content content" id="app">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- app invoice View Page -->
                <form action="{% url 'about:staff-update' staff.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <section class="invoice-edit-wrapper">
                        <div class="row">
                            <!-- invoice view page -->
                            <div class="col-xl-8 col-md-8 col-12">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="uzbek-tab" data-toggle="pill" href="#uzbek"
                                           aria-expanded="true"><i class="flag-icon flag-icon-uz mr-50"></i>
                                            O‘zbekcha</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="russian-tab" data-toggle="pill" href="#russian"
                                           aria-expanded="false"><i class="flag-icon flag-icon-ru mr-50"></i> Русский
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="english-tab" data-toggle="pill" href="#english"
                                           aria-expanded="false"><i class="flag-icon flag-icon-gb mr-50"></i> English
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content main-editor">
                                    <div class="tab-pane active" id="uzbek" role="tabpanel" aria-labelledby="home-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">[UZ] Xodim
                                                    FISH</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0 mx-25">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="invoice-address form-group">
                                                                <input type="text" v-model="title_uz" required
                                                                       class="form-control" placeholder="F.I.SH"
                                                                       name="title_uz">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="form-group">
                                                                <label>Ish lavozimi</label>
                                                                <input type="text" class="form-control"
                                                                       name="position_uz"
                                                                       v-model="position_uz"

                                                                       required
                                                                       placeholder="Direktor o'rinbosari">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <fieldset class="form-group" id="work_history_uz">
                                                                <label for="basicInput">Ish faoliyati</label>
                                                                <quill-editor
                                                                        ref="quillEditor"
                                                                        class="editor"
                                                                        v-model="work_history_uz"
                                                                        :options="editorOption"
                                                                        @blur="onEditorBlur($event)"
                                                                        @focus="onEditorFocus($event)"
                                                                        @ready="onEditorReady($event)"
                                                                />
                                                                <br>
                                                                <div class="content ql-editor"
                                                                     v-html="work_history_uz"></div>
                                                            </fieldset>
                                                            <textarea class="hidden" v-model="work_history_uz" required
                                                                      name="work_history_uz" class="" cols="30"
                                                                      rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 mb-2">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">Majburiyat va vazifalari</label>
                                                                <textarea class="form-control" id="basicTextarea"
                                                                          rows="3"
                                                                          name="duty_uz"
                                                                          v-model="duty_uz"
                                                                          required
                                                                          placeholder="Vazifalari ro'yxati"></textarea>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 mb-2">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">Qabul kunlari</label>
                                                                <input type="text" class="form-control"
                                                                       name="reception_days_uz"
                                                                       v-model="reception_days_uz"
                                                                       required
                                                                       placeholder="Dushanba - Shanba 9:00-12:00">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="russian" role="tabpanel" aria-labelledby="russian-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">[RU] ФИО
                                                    сотрудника</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0 mx-25">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="invoice-address form-group">
                                                                <input type="text"
                                                                       v-model="title_ru"
                                                                       class="form-control" placeholder="Ф.И.О"
                                                                       name="title_ru">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="form-group">
                                                                <label>Позиция</label>
                                                                <input type="text" class="form-control"
                                                                       name="position_ru"
                                                                       v-model="position_ru"
                                                                       placeholder="Заместитель директора">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <fieldset class="form-group" id="work_history_ru">
                                                                <label for="basicInput">История работы</label>
                                                                <quill-editor
                                                                        ref="quillEditor"
                                                                        class="editor"
                                                                        v-model="work_history_ru"
                                                                        :options="editorOption"
                                                                        @blur="onEditorBlur($event)"
                                                                        @focus="onEditorFocus($event)"
                                                                        @ready="onEditorReady($event)"
                                                                />
                                                                <br>
                                                                <div class="content ql-editor"
                                                                     v-html="work_history_ru"></div>
                                                            </fieldset>
                                                            <textarea class="hidden" v-model="work_history_ru"
                                                                      name="work_history_ru" class="" cols="30"
                                                                      rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 mb-2">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">Обязанности и
                                                                    ответственность</label>
                                                                <textarea class="form-control" id="basicTextarea"
                                                                          rows="3"
                                                                          name="duty_ru"
                                                                          v-model="duty_ru"
                                                                          placeholder="Обязанности и ответственность"></textarea>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 mb-2">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">Дни приема</label>
                                                                <input type="text" class="form-control"
                                                                       name="reception_days_ru"
                                                                       v-model="reception_days_ru"
                                                                       placeholder="Понедельник Суббота 9:00-12:00">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="english" role="tabpanel" aria-labelledby="english-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">[EN] Full name
                                                    of staff</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0 mx-25">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="invoice-address form-group">
                                                                <input type="text"
                                                                       v-model="title_en"
                                                                       class="form-control" placeholder="Full name"
                                                                       name="title_en">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="form-group">
                                                                <label>Position</label>
                                                                <input type="text" class="form-control"
                                                                       name="position_en"
                                                                       v-model="position_en"

                                                                       placeholder="Director position">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <fieldset class="form-group" id="work_history_en">
                                                                <label for="basicInput">Work history</label>
                                                                <quill-editor
                                                                        ref="quillEditor"
                                                                        class="editor"
                                                                        v-model="work_history_en"
                                                                        :options="editorOption"
                                                                        @blur="onEditorBlur($event)"
                                                                        @focus="onEditorFocus($event)"
                                                                        @ready="onEditorReady($event)"
                                                                />
                                                                <br>
                                                                <div class="content ql-editor"
                                                                     v-html="work_history_en"></div>
                                                            </fieldset>
                                                            <textarea class="hidden" v-model="work_history_en"
                                                                      name="work_history_en" class="" cols="30"
                                                                      rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 mb-2">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">Duties</label>
                                                                <textarea class="form-control" id="basicTextarea"
                                                                          rows="3"
                                                                          name="duty_en"
                                                                          v-model="duty_en"

                                                                          placeholder="List of duties"></textarea>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 mb-2">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">Reception days</label>
                                                                <input type="text" class="form-control"
                                                                       name="reception_days_en"
                                                                       v-model="reception_days_en"

                                                                       placeholder="Monday-Saturday 9:00-12:00">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body mx-25">
                                            <!-- invoice address and contact -->
                                            <div class="row invoice-info">
                                                <div class="col-lg-12 col-md-12">
                                                    <fieldset class="invoice-address form-group">
                                                        <label for="basicInput">Facebook</label>
                                                        <input type="text" class="form-control"
                                                               name="facebook"
                                                               v-model="facebook"
                                                               placeholder="Facebook">
                                                    </fieldset>
                                                    <fieldset class="invoice-address form-group">
                                                        <label for="basicInput">Instagram</label>
                                                        <input type="text" class="form-control"
                                                               name="instagram"
                                                               v-model="instagram"
                                                               placeholder="Instagram">
                                                    </fieldset>
                                                    <fieldset class="invoice-address form-group">
                                                        <label for="basicInput">Twitter</label>
                                                        <input type="text" class="form-control"
                                                               name="twitter"
                                                               v-model="twitter"
                                                               placeholder="Twitter">
                                                    </fieldset>
                                                    <fieldset class="invoice-address form-group">
                                                        <label for="basicInput">Telegram</label>
                                                        <input type="text" class="form-control"
                                                               name="telegram"
                                                               v-model="telegram"
                                                               placeholder="Telegram">
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- invoice action  -->
                            <div class="col-xl-4 col-md-4 col-12 pt-4">
                                <div class="card invoice-action-wrapper shadow-none border">
                                    <div class="card-body">
                                        <div class="invoice-action-btn mb-1">
                                            <button type="submit" class="btn btn-primary btn-block invoice-send-btn">
                                                <i class="bx bxs-save"></i>
                                                <span>{% trans 'Saqlash' %}</span>
                                            </button>
                                        </div>
                                        <div class="invoice-action-btn mb-1">
                                            <div class="save">
                                                <a href="{% url 'about:staff-list' %}"
                                                   class="btn btn-light-danger btn-block">
                                                    <span class="text-nowrap">{% trans 'O‘chirish' %}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans 'Ish joyi yoki boshqarma' %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <select class="form-control ishjoyi" name="department">
                                                    <option label="{% trans 'Boshqarmani tanlang' %}" value="None">{% trans 'Boshqarmani tanlang' %}</option>

                                                    {% for department in departments %}
                                                        <option value="{{ department.id }}"
                                                        {% if staff.department == department %}selected{% endif %}>
                                                            {{ department.title|safe }}
                                                        </option>

                                                    {% endfor %}



                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans 'Tashkilot' %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <select class="form-control ishjoyi" name="organization">
                                                <option label="{% trans 'Tashkilotni tanlang' %}" value="None">{% trans 'Tashkilotni tanlang' %}</option>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization.id }}"
                                                        {% if staff.organization == organization %}selected{% endif %}>
                                                            {{ organization.title|safe }}
                                                        </option>

                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans 'Asosiy rasm' %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            {% if staff.image %}
                                                <a href="{{ staff.image.url }}">{{ staff.image.name }}</a>
                                            {% endif %}
                                            <input type="file"
                                                    accept="image/x-png,image/gif,image/jpeg"
                                                    name="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans 'Asosiy ma`lumotlari' %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <fieldset class="invoice-address form-group">
                                                    <label for="basicInput">{% trans 'Telefon raqami' %}</label>
                                                    <input type="text" class="form-control"
                                                           name="inner_phone_number"
                                                           v-model="inner_phone_number"
                                                           placeholder="1000">
                                                </fieldset>
                                            </div>
                                            <div class="form-group">
                                                <fieldset class="invoice-address form-group">
                                                    <label for="basicInput">{% trans 'Email' %}</label>
                                                    <input type="text" class="form-control"
                                                           name="email"
                                                           v-model="email"
                                                           placeholder="info@lenta.uz">
                                                </fieldset>
                                            </div>

                                            <div class="form-group">
                                                <fieldset class="invoice-address form-group">
                                                    <label for="basicInput">{% trans 'Tartibi' %}</label>
                                                    <input type="number" class="form-control"
                                                           name="order"
                                                           required
                                                           v-model="order"
                                                           placeholder="{% trans 'Tartib raqamini kiriting' %}">
                                                </fieldset>
                                            </div>

                                            <div class="form-group">
                                                <label for="main">{% trans 'Bosh direktor' %}</label>
                                                <div class="custom-control custom-switch custom-switch-glow">
                                                    <input type="checkbox" class="custom-control-input"
                                                           name="main"
                                                           id="main"
                                                           {% if staff.main %}checked{% endif %}>
                                                    <label class="custom-control-label" for="main">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="leader">{% trans 'Rahbar' %}</label>
                                                <div class="custom-control custom-switch custom-switch-glow">
                                                    <input type="checkbox" class="custom-control-input"
                                                           name="leader"
                                                           id="leader"
                                                           {% if staff.leader %}checked{% endif %}>
                                                    <label class="custom-control-label" for="leader">
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="is_central">{% trans 'Markaziy apparat' %}</label>
                                                <div class="custom-control custom-switch custom-switch-glow">
                                                    <input type="checkbox" class="custom-control-input"
                                                           name="is_central"
                                                           id="is_central"
                                                           {% if staff.is_central %}checked{% endif %}>
                                                    <label class="custom-control-label" for="is_central">
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}

{% block js %}
    <script src="{% static 'back/app-assets/vendors/js/filepond-plugin-image-preview.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/filepond.js' %}"></script>
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="{% static 'back/app-assets/js/vue.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/vue-ctk-date-time-picker.umd.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/katex.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/highlight.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/vue-filepond.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/quill.imageUploader.min.js' %}"></script>
    <!-- Quill JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.js"></script>
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'back/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
    <script src="{% static 'back/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>

    <script type="text/javascript">
        Vue.component('vue-ctk-date-time-picker', window['vue-ctk-date-time-picker']);
        Vue.use(VueQuillEditor);

        var app = new Vue({
            el: '#app',
            components: {
                FilePond: vueFilePond.default(FilePondPluginImagePreview)
            },
            data: {
                title_uz: '{{ staff.title_uz|escapejs }}',
                title_ru: '{{ staff.title_ru|escapejs }}',
                title_en: '{{ staff.title_en|escapejs }}',

                work_history_uz: '{{ staff.work_history_uz|escapejs }}',
                work_history_ru: '{{ staff.work_history_ru|escapejs }}',
                work_history_en: '{{ staff.work_history_en|escapejs }}',

                position_uz: '{{ staff.position_uz|escapejs }}',
                position_ru: '{{ staff.position_ru|escapejs }}',
                position_en: '{{ staff.position_en|escapejs }}',

                duty_uz: '{{ staff.duty_uz|escapejs }}',
                duty_ru: '{{ staff.duty_ru|escapejs }}',
                duty_en: '{{ staff.duty_en|escapejs }}',

                reception_days_uz: '{{ staff.reception_days_uz|escapejs }}',
                reception_days_ru: '{{ staff.reception_days_ru|escapejs }}',
                reception_days_en: '{{ staff.reception_days_en|escapejs }}',

                inner_phone_number: '{{ staff.inner_phone_number|escapejs }}',
                email: '{{ staff.email|escapejs }}',
                order: '{{ staff.order|escapejs }}',

                instagram: '{{ staff.instagram|escapejs }}',
                telegram: '{{ staff.telegram|escapejs }}',
                facebook: '{{ staff.facebook|escapejs }}',
                twitter: '{{ staff.twitter|escapejs }}',

                message: 'Hello!',
                value: null,
                myFiles: null,
                videotrue: false
            },
            methods: {
                handleFilePondInit: function () {
                    console.log('FilePond has initialized');
                    this.$refs.pond.getFiles();
                },
                onEditorBlur(quill) {
                    console.log('editor blur!', quill)
                },
                onEditorFocus(quill) {
                    console.log('editor focus!', quill)
                },
                onEditorReady(quill) {
                    console.log('editor ready!', quill)
                }
            },
            computed: {
                editor() {
                    return this.$refs.quillEditor.quill
                },
                stringit() {
                    return (args) => {
                        return JSON.stringify(args)
                    }
                }
            },
        });


        $(document).ready(function () {
            $('.ishjoyi').select2({
                width: '100%',
                tags: true,
                placeholder: 'Ish joyini tanlang'
            });

        });
    </script>

{% endblock %}