{% extends 'back/_base.html' %}
{% load permission_tags %}
{% load static i18n %}
{% block mainbread %}
    <ul class="nav navbar-nav bookmark-icons">
        <div class="d-flex main-bread">
            <h5 class="content-header-title float-left pr-1 mb-0">{% trans 'Matbuot xizmati' %}</h5>
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb p-0 mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index-admin' %}"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'news:news-list' %}">{% trans 'Barcha yangiliklar' %}</a>
                    </li>
                    <li class="breadcrumb-item active">{% trans 'Yangi yangilik' %}
                    </li>
                </ol>
            </div>
        </div>
    </ul>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/vue-ctk-date-time-picker.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/vue2-editor.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/monokai-sublime.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/css/quill.snow.css' %}"/>
    <link rel="stylesheet" href="{% static 'back/app-assets/css/quill.imageUploader.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'back/app-assets/css/main-editor.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'back/app-assets/vendors/css/ui/prism.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/vendors/css/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/css/plugins/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/filepond.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/filepond-plugin-image-preview.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/vendors/css/forms/select/select2.min.css' %}">
{% endblock %}

{% block body %}
    {% if user|has_role:"admin" %}
    {% include 'back/parts/menu.html' %}
    {% endif %}
    <!-- BEGIN: Content-->
    <div class="app-content content" id="app">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- app invoice View Page -->

                <form action="{% url 'news:news-create' %}" method="POST"
                      enctype="multipart/form-data">{% csrf_token %}
                    <section class="invoice-edit-wrapper">
                        <div class="row">
                            <!-- invoice view page -->
                            <div class="col-xl-8 col-md-8 col-12">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="uzbek-tab" data-toggle="pill" href="#uzbek"
                                           aria-expanded="true"><i class="flag-icon flag-icon-uz mr-50"></i>
                                            O‘zbekcha</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="russian-tab" data-toggle="pill" href="#russian"
                                           aria-expanded="false"><i class="flag-icon flag-icon-ru mr-50"></i> Русский
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="english-tab" data-toggle="pill" href="#english"
                                           aria-expanded="false"><i class="flag-icon flag-icon-gb mr-50"></i> English
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content main-editor">
                                    <div class="tab-pane active" id="uzbek" role="tabpanel" aria-labelledby="home-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">[UZ] Maqola
                                                    nomi</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0 mx-25">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="invoice-address form-group">
                                                                <input type="text" required
                                                                       class="form-control"
                                                                       name="title_uz"
                                                                       v-model="title_uz"
                                                                       placeholder="{% trans 'Maqola nomini kiriting' %}">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">{% trans 'Qisqacha' %}</label>
                                                                <textarea class="form-control" id="basicTextarea"
                                                                          rows="5"
                                                                          required
                                                                          placeholder="{% trans 'Yangilik haqida qisqa' %}"
                                                                          name="short_description_uz"
                                                                          v-model="short_description_uz">
                                                                </textarea>
                                                            </fieldset>
                                                        </div>

                                                        <div class="col-12">
                                                            <fieldset class="form-group" id="description_uz">
                                                                <label for="basicInput">{% trans 'Batafsil' %}</label>
                                                                <quill-editor
                                                                        ref="quillEditor"
                                                                        class="editor"
                                                                        v-model="description_uz"
                                                                        :options="editorOption"
                                                                        @blur="onEditorBlur($event)"
                                                                        @focus="onEditorFocus($event)"
                                                                        @ready="onEditorReady($event)"
                                                                />
                                                                <br>
                                                                <div class="content ql-editor"
                                                                     v-html="description_uz"></div>
                                                            </fieldset>
                                                            <textarea class="hidden" v-model="description_uz"
                                                                      name="description_uz" class="" cols="30"
                                                                      rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="russian" role="tabpanel" aria-labelledby="russian-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">[RU] Названия
                                                    статьи</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0 mx-25">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="invoice-address form-group">
                                                                <input type="text"
                                                                       class="form-control"
                                                                       name="title_ru"
                                                                       v-model="title_ru"
                                                                       placeholder="{% trans 'Maqola nomini kiriting' %}">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">{% trans 'Qisqacha' %}</label>
                                                                <textarea class="form-control" id="basicTextarea"
                                                                          rows="5"

                                                                          placeholder="{% trans 'Yangilik haqida qisqa' %}"
                                                                          name="short_description_ru"
                                                                          v-model="short_description_ru">
                                                                </textarea>
                                                            </fieldset>
                                                        </div>

                                                        <div class="col-12">
                                                            <fieldset class="form-group" id="description_ru">
                                                                <label for="basicInput">{% trans 'Batafsil' %}</label>
                                                                <quill-editor
                                                                        ref="quillEditor"
                                                                        class="editor"
                                                                        v-model="description_ru"
                                                                        :options="editorOption"
                                                                        @blur="onEditorBlur($event)"
                                                                        @focus="onEditorFocus($event)"
                                                                        @ready="onEditorReady($event)"
                                                                />
                                                                <br>
                                                                <div class="content ql-editor"
                                                                     v-html="description_ru"></div>
                                                            </fieldset>
                                                            <textarea class="hidden" v-model="description_ru"
                                                                      name="description_ru" class="" cols="30"
                                                                      rows="10"></textarea>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="english" role="tabpanel" aria-labelledby="english-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">[EN] Post
                                                    title</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0 mx-25">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="invoice-address form-group">
                                                                <input type="text"
                                                                       class="form-control"
                                                                       name="title_en"
                                                                       v-model="title_en"
                                                                       placeholder="{% trans 'Maqola nomini kiriting' %}">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-12 col-md-12">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">{% trans 'Qisqacha' %}</label>
                                                                <textarea class="form-control" id="basicTextarea"
                                                                          rows="5"
                                                                          placeholder="{% trans 'Yangilik haqida qisqa' %}"
                                                                          name="short_description_en"
                                                                          v-model="short_description_en">
                                                                </textarea>
                                                            </fieldset>
                                                        </div>

                                                        <div class="col-12">
                                                            <fieldset class="form-group" id="description_en">
                                                                <label for="basicInput">{% trans 'Batafsil' %}</label>
                                                                <quill-editor
                                                                        ref="quillEditor"
                                                                        class="editor"
                                                                        v-model="description_en"
                                                                        :options="editorOption"
                                                                        @blur="onEditorBlur($event)"
                                                                        @focus="onEditorFocus($event)"
                                                                        @ready="onEditorReady($event)"
                                                                />
                                                                <br>
                                                                <div class="content ql-editor"
                                                                     v-html="description_en"></div>
                                                            </fieldset>
                                                            <textarea class="hidden" v-model="description_en"
                                                                      name="description_en" class="" cols="30"
                                                                      rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body mx-25">
                                            <!-- invoice address and contact -->
                                            <div class="row invoice-info">
                                                <div class="col-lg-12 col-md-12">
                                                    <fieldset class="invoice-address form-group">
                                                        <label for="basicInput">{% trans 'Kalit so`zlar' %}</label>
                                                        <select class="multiple-tags form-control" multiple="multiple"
                                                                name="hashtag">
                                                            {% for news_hashtag in news_hashtags %}
                                                                <option value="{{ news_hashtag }}">
                                                                    {{ news_hashtag.title }}
                                                                </option>
                                                            {% endfor %}

                                                        </select>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans "Bo'limlar" %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <select class="form-control ishjoyi" name="category" required>
                                                    <option value="">{% trans "Bo'limni tanlang" %}</option>
                                                    {% for news_category in news_categories %}
                                                        <option value="{{ news_category.id }}">{{ news_category.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>


                                    <div class="col-6">
                                        <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans "Hudud (ixtiyoriy)" %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <select class="form-control ishjoyi" name="region">
                                                {% if user|has_role:"admin" %}
                                                    <option value="">{% trans "Hududni tanlang" %}</option>
                                                    {% for item in region %}
                                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                                    {% endfor %}

                                                {% else %}
                                                    <option value="{{ staff.region.id }}">{{ staff.region.title }}</option>

                                                {% endif %} 

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    </div>
                                </div>





                            </div>
                            <!-- invoice action  --> 
                            <div class="col-xl-4 col-md-4 col-12">
                                <div class="card invoice-action-wrapper shadow-none border">
                                    <div class="card-body">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <vue-ctk-date-time-picker time-format="H:mm" label="{% trans 'Sana' %}"
                                                      time-format="H:mm"                v-model="ispublished"></vue-ctk-date-time-picker>
                                            <input type="hidden" v-model="ispublished" name="publish_date">
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-switch custom-control-inline mb-1">
                                                <input name="is_published" type="checkbox" class="custom-control-input"
                                                       checked
                                                       id="ispublished">
                                                <label class="custom-control-label mr-1" for="ispublished">
                                                    <span class="switch-icon-left"><i class="bx bx-check"></i></span>
                                                    <span class="switch-icon-right"><i class="bx bx-x"></i></span>
                                                </label>
                                                <span>
                                          <label for="ispublished">
                                            {% trans 'Faol' %}
                                          </label></span>
                                            </div>
                                        </fieldset>
                                        <div class="invoice-action-btn mb-1">
                                            <button type="submit" class="btn btn-primary btn-block invoice-send-btn">
                                                <i class="bx bxs-save"></i>
                                                <span>{% trans 'Saqlash' %}</span>
                                            </button>
                                        </div>
                                        <div class="invoice-action-btn mb-1">
                                            <div class="save">
                                                <a href="{% url 'news:news-list' %}" class="btn btn-light-danger btn-block">
                                                    <span class="text-nowrap">{% trans 'O‘chirish' %}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans "Asosiy" %}</h4>
                                    </div>
                                    <div class="card-content">
                                        {% if user|has_role:"admin" %}
                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <label for="main_page">{% trans 'Bosh sahifaga chiqarish' %}</label>
                                                <div class="custom-control custom-switch custom-switch-glow">
                                                    <input type="checkbox" class="custom-control-input" name="main_page"
                                                           id="main_page">
                                                    <label class="custom-control-label" for="main_page">
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                        {% endif %}

                                        <div class="card-body bolimlar">
                                            <div class="form-group">
                                                <label for="actual">{% trans 'Muhim yangilik' %}</label>
                                                <div class="custom-control custom-switch custom-switch-glow">
                                                    <input type="checkbox" class="custom-control-input" name="actual"
                                                           id="actual">
                                                    <label class="custom-control-label" for="actual">
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans 'Asosiy rasm' %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <input type="file"
                                                   accept="image/x-png,image/gif,image/jpeg"
                                                   name="thumbnail"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">{% trans 'Rasm' %}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <input type="file"
                                                   accept="image/x-png,image/gif,image/jpeg"
                                                   name="image"
                                                   required>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between py-50">
                                            <h4 class="card-title">{% trans 'Video' %}</h4>
                                            <div class="custom-control custom-switch custom-switch-glow">
                                                <input type="checkbox" class="custom-control-input" v-model="videotrue"
                                                       id="paymentTerm">
                                                <label class="custom-control-label" for="paymentTerm">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <template v-if="videotrue">
                                        <div class="card-content">
                                            <div class="card-body">

                                                <!-- Tab panes -->
                                                <div class=" pl-0">
                                                    <div class="tab-pane" id="profile-just">
                                                        <fieldset class="form-group">
                                                        <textarea class="form-control" type="url" name="video_link"
                                                                  id="basicTextarea" rows="3"
                                                                  placeholder="URL"></textarea>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>

                                </div>

                            </div>

                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}

{% block js %}

    <script src="{% static 'back/app-assets/vendors/js/filepond-plugin-image-preview.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/filepond.js' %}"></script>
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="{% static 'back/app-assets/js/vue.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@1.4.1/dist/vue-ctk-date-time-picker.umd.js" charset="utf-8"></script>    <script src="{% static 'back/app-assets/vendors/js/katex.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/highlight.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/quill.imageUploader.min.js' %}"></script>
    <!-- Quill JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.js"></script>


    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">
    <script src="{% static 'back/app-assets/vendors/js/vue-filepond.min.js' %}"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'back/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
    <script src="{% static 'back/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>

    <script type="text/javascript">
        Vue.component('vue-ctk-date-time-picker', window['vue-ctk-date-time-picker']);
        Vue.use(VueQuillEditor);

        
        function CustomImageHandler () {
            const quill = this.quill;

            const input = document.createElement('input');

            input.setAttribute('type', 'file');
            input.setAttribute('multiple', 'multiple');

            input.setAttribute('accept', 'image/*');
            input.click();

            input.onchange = async () => {
             
                for (let i = 0; i < input.files.length; i++) {
                    const file = input.files[i];
                    
             
                const fileList = input.files;
                const formData = new FormData();

                formData.append('image', file);

                // Save current cursor state
                const range = quill.getSelection(true);

                quill.insertEmbed(range.index, 'image', 'https://cdn.dribbble.com/users/1341307/screenshots/5377324/morph_dribbble.gif');

                quill.setSelection(range.index + 1);


                $.ajax({
                    url: '{% url 'image-upload' %}',
                    type:"POST",
                    headers: { "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val() },
                    processData:false,
                    contentType: false,
                    data: formData,
                    success: (res) => {
                        console.log(res.image)
                        quill.deleteText(range.index, 1);
                        quill.insertEmbed(range.index, 'image', res.image);
                    },
                    error: (e) => {
                        console.log(e)
                    },
                });
            }

            }
        }

        var app = new Vue({
            el: '#app',
            components: {
                FilePond: vueFilePond.default(FilePondPluginImagePreview)
            },
            data: {
                title_uz: '',
                title_ru: '',
                title_en: '',
                description_uz: '',
                description_ru: '',
                description_en: '',
                message: 'Hello!',
                value: null,
                ispublished: null,
                myFiles: null,
                videotrue: false,
                editorOption: {
                    theme: 'snow'
                }
            },
            methods: {
                handleFilePondInit: function () {
                    console.log('FilePond has initialized');
                    this.$refs.pond.getFiles();
                },
                onEditorBlur(quill) {
                    console.log('editor blur!', quill)
                },
                onEditorFocus(quill) {
                    quill.getModule("toolbar").addHandler("image", CustomImageHandler);
                    console.log('editor focus!', quill)
                },
                onEditorReady(quill) {
                    quill.getModule("toolbar").addHandler("image", CustomImageHandler);
                    console.log('editor ready!', quill)
                }
            },
            computed: {
                editor() {
                    return this.$refs.quillEditor.quill
                },
                stringit() {
                    return (args) => {
                        return JSON.stringify(args)
                    }
                }
            },

        });

        $(document).ready(function () {
            $('.multiple-tags').select2({
                width: '100%',
                tags: true,
                placeholder: 'Kalit so‘zlarni kiriting'
            });

        });
    </script>

{% endblock %}